body {
    margin: 0;
    font-size: 16px;
    background: var(--background);
}
main {
    padding-top: 60px !important;
}
.container {
    padding: 14px 105px;
}
.no-select {
    user-select: none;
}